body{
    background: url('/images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.central{
    width: 40%;
    background-color: rgba(82, 161, 226, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.central input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.central button{
    width: 100%;
    padding: 10px;
    background-color: #2a6ae2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.central button:hover{
    background-color:#0659f5;
    color: white;
    transform: scale(1.05);
}

.central p{
    margin: 10px 0;
    font-size: 25px;
    color: whitesmoke;
    
}
