@font-face { 
    font-family: relogio;
    src: url('/fonts/digital-7.ttf');
} 


body{
    background: linear-gradient(rgb(236, 124, 20),rgb(218, 47, 25),white, rgb(209, 38, 66), rgb(236, 124, 20));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.saudacao{
    background-color: rgb(241, 215, 215);
    width: 400px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgb(224, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;
    flex-direction: column;
    gap: 10px;
}
.saudacao p{
    font-size: 20px;
    color: rgb(219, 99, 19);
    font-family: relogio;
    text-align: center;
}

.central{
    background-color: rgb(241, 215, 215);
    width: 450px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgb(224, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 200px;
}

.central div{
    background: rgb(219, 99, 19);
    border-radius: 15px;
    color: white;
    font-size: 85px;
    font-family: relogio;
    height: 150px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.central span{
    font-size: 85px;
    color: rgb(83, 78, 78)
}

.dia{
    background-color: linear-gradient(rgb(39, 169, 235),rgb(255, 255, 255));
}

.tarde{
    background-color: linear-gradient(rgb(218, 47, 25),orange);
}

.noite{
    background-color: linear-gradient(rgb(84, 63, 204),rgb(0, 0, 0));

}